<p id="miP">
  {{this.getTexto("hola again")}}
</p>

<img *ngIf="num>5" src="assets/img/myImage.jpg"/>

<ul>
  <li *ngFor="let item of aLista">
    {{item.name}}
  </li>
</ul>

<button (click)="btnPresionado($event)">Presioname</button>
<div (mouseover)="Encima($event)">
  Esto es un div
</div>

<input [placeholder]="sPlaceholder" [value]="sValue"/>

<padre></padre>

<div>
  {{"Hola mundo" | uppercase | pipePrueba:2 }}
</div>

<div>
    {{"Hola mundo" | pipePrueba:4 }}
  </div>

  <div>
      {{true | boolPipe:"SI":"NO" }}
      {{false | boolPipe:"Aprobado":"Suspenso" }}
      {{null | boolPipe:"Aprobado":"Suspenso" }}

    </div>

<div [ngStyle]="{'color': 'red'}">
  Directiva
</div>

<div [ngStyle]="3>4?oEstilo:{'color': 'olive'}" [ngClass]="{'error': 3>4}">
    Directiva2
  </div>