<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngFor="let item of oMenu.items">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/{{item.url}}">{{item.nombre}}</a>
        </li>
      </ul>
    </div>
  </nav>
